@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
    --font-family: 'roboto', sans-serif;
    --font-size: 16px;
    --line-height: 1.5;
    --color-primary: #1a202c;
    --color-secondary: #2d3748;
    --color-accent: #4a5568;
    --color-background: #f7fafc;
    --color-text: #2d3748;
}

@layer utilities {
  @keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  .animate-marquee {
    display: inline-block;
    min-width: 100%;
    animation: marquee 15s linear infinite;
  }
}
@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

.react-select__control {
  border: 1px solid #d1d5db; /* gray-300 */
  border-radius: 0.375rem;   /* rounded-md */
  min-height: 2.5rem;
}
.react-select__control--is-focused {
  border-color: #3b82f6; /* blue-500 */
  box-shadow: 0 0 0 1px #3b82f6;
}

.blink-text {
  animation: blink 1s infinite;
}

@keyframes scroll-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-scroll {
  display: inline-block;
  animation: scroll-up 15s linear infinite;
}
@media print{
  .footer{
        display: none !important;

  }
}
